<div style="background: #ededed;padding: 30px">
   <div style="padding: 30px;background:white">
      <h4>Notification d'inscription</h4>
      <p>{{ sujet }}</p>
      <p>{{ message }}</p>
   </div>
</div>